<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>DoctorFilter</filter-name>
        <filter-class>filtersManagement.DoctorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PatientFilter</filter-name>
        <filter-class>filtersManagement.PatientFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PatientFilter</filter-name>
        <url-pattern>patientFiles/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorFilter</filter-name>
        <url-pattern>/doctorFiles/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Registrati</servlet-name>
        <servlet-class>core.Registrati</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>core.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recupera</servlet-name>
        <servlet-class>core.Recupera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>core.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaccinazioniPaziente</servlet-name>
        <servlet-class>core.VaccinazioniPaziente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>core.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Richiamo</servlet-name>
        <servlet-class>core.Richiamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conferma</servlet-name>
        <servlet-class>core.Conferma</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrati</servlet-name>
        <url-pattern>/Registrati</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recupera</servlet-name>
        <url-pattern>/Recupera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/jcaptcha.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Welcome</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Richiamo</servlet-name>
        <url-pattern>/doctorFiles/Richiamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaccinazioniPaziente</servlet-name>
        <url-pattern>/patientFiles/VaccinazioniPaziente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conferma</servlet-name>
        <url-pattern>/doctorFiles/Conferma</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file>/</welcome-file>
</web-app>
