<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Registrati</servlet-name>
        <servlet-class>core.Registrati</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>core.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recupera</servlet-name>
        <servlet-class>core.Recupera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>captcha</servlet-name>
        <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrati</servlet-name>
        <url-pattern>/Registrati</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recupera</servlet-name>
        <url-pattern>/Recupera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>captcha</servlet-name>
        <url-pattern>/captcha.jpg</url-pattern>        
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
